nav{
    background-repeat: no-repeat;
    background-size: auto, cover;
    padding: 0;
    margin: 0;
}
    #principio{
        color: black;
    }
    #arriba{
        background: white;
        position: fixed;
        width: 100%;
        margin: 0; 
        height:5%; 
        padding-bottom: 35px;
        padding-top: 10px;
        height:5%; 
        z-index: 100;
    }
    #empieza{
        color: black;
        font-size: 20px;
    }
    #redes{
        color: black;
        text-align: right;
    }
    #contacto{
        color: black;
        
    }

/*HEADER*/

header{  
    background-image: url(src\assets\img\bg-pattern.png), url(src\assets\img\Burning_Orange.jpg);
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
    padding-top: 100px;
}
#imgMovil{
    width:70%
    
}
    #entrada{
        color: white;
        text-align: left;
        padding-top:4vw;
        font-size: 6vh;
    }
    #libro{
        font-size: 100px;
        color: white;
    }
    #boton{
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-color: white;
        border-radius: 50px;    /*para dejarlo redondeado*/
    }
    #botonout{
        text-align: center;
        padding-top: 15px;
    }
    #movil{
        color: white;
        text-align: left;
        padding-top: 30px;
        font-size: 50px;
    }
