<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Agenda Mini</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--FONT AWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <nav class="navegacion" id="principio">
    <div class="row" id="arriba">
       <div class="col-md-2">
    
       </div>
        <div class="col-md-5" id="empieza">
            <i class="fab fa-buromobelexperte"></i>
            <a href="#principio" style="color: black" class="arriba">Empieza Ahora</a>
        </div>
        <div class="col-md-2" id="redes">
            <i class="far fa-share-square"></i>
            <a href="#redex" style="color: black" class="listado">Redes Sociales</a>
        </div>
        <div class="col-md-3" id="contacto">
            <i class="far fa-smile"></i>
            <a href="#contactox" style="color: black" class="contact">Contacto</a>
        </div>
    </div>
</nav>
<header>
  <div class="row">
     <div class="col-md-2">
     
     </div>
      <div class="col-md-4">
          <p id="entrada">Bienvenido a tu agenda online! Aquí podrás ver, agregar, editar tus contatos y muchos más! Diviértete!</p>
          <div id="botonout">
             <p><i class="fas fa-book-open" id="libro"></i></p>
              <a href="#listado"><button  type="button" class="btn btn-outline-info" id="boton">Accede a Tu Agenda</button></a>
          </div>
      </div>
      <div class="col-md-1">
     
     </div>
      <div class="col-md-4" id="movil">
          <img src='..\assets\img\movil.png' alt="MÓVIL" title="MÓVIL">
      </div>
      <div class="col-md-1">
     
     </div>
  </div>
</header>

<aside id="redex">
<div id="asides">
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <p>We <i class="fas fa-heart" id="heart"></i> new friends!</p>
        <p id="icons"><i class="fab fa-twitter" id="twitter"></i> <i class="fab fa-facebook-square" id="facebook"></i> <i class="fab fa-google-plus" id="google"></i></p>
    </div>
</div>
</div>
</aside>
<footer id="contactox">
<p>© Your Website 2019. All Rights Reserved.</p>
<p>tuagendapersonal@lucatic.com
    <br>+34 684 23 51 42</p>
</footer>
</body>
</html>